<div class="container">
  <div class="row">
    <div class="col-12 my-5">
      <h1 class="display-1">About</h1>
    </div>
  </div>
</div>
<div class="grey-bg py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <h2 class="h1 mb-4 text-primary-dark">Building shared infrastructure for open source, together</h2>
        <div class="me-lg-5">
        <p class="lead mb-5 me-lg-5">ecosyste.ms is a small, distributed team of designers, developers, and researchers, supported by a community of open source contributors and advisors.</p>
        <p class="me-lg-5">We build open datasets and tools that lower technical barriers and accelerate our understanding of how software is created, used, and maintained - and show us where it needs support.</p>
        <p>ecosyste.ms is a non-profit initiative hosted by <a href="https://oscollective.org" class="spesh-link">Open Source Collective</a></p>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="about-photo">
          <picture>
            <source
              srcset="<%= image_path('about-photo@1.webp') %> 1x,
                      <%= image_path('about-photo@2.webp') %> 2x"
              type="image/webp"
            >
            <img
              src="<%= image_path('about-photo@1.jpg') %>"
              srcset="<%= image_path('about-photo@1.jpg') %> 1x,
                      <%= image_path('about-photo@2.jpg') %> 2x"
              width="550"
              height="800"
              alt="Team photo"
              class="img-fluid rounded-3"
            >
          </picture>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row mb-4">
    <div class="col-12 col-lg-9">
      <h2 class="h1">Our people</h2>
      <p>We work closely with partners in research, government, and industry to make sure the tools we build have real-world impact. Our steering committees help guide strategy and ensure transparency across all aspects of our work.</p>
      <p>Want to get involved? Read our <a href="https://docs.ecosyste.ms/docs/contributing/" class="spesh-link">contributors guide</a>, or <a href="https://oscollective.org" class="spesh-link">drop us a line</a></p>
    </div>
  </div>
  <h3 class="h2 mb-4">Core Project Team</h3>
  <div class="row">
    <div class="col-6 col-md-3 col-lg-2">
      <div>
        <%= image_tag("team-ben.jpg", alt: " ", class: "img-fluid rounded mb-3", size: "800x600") %>
        <h4 class="text-primary-dark">Ben Nicholls</h4>
        <p>Product Lead</p>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <div>
        <%= image_tag("team-andrew.jpg", alt: " ", class: "img-fluid rounded mb-3", size: "800x600") %>
        <h4 class="text-primary-dark">Andrew Nesbitt</h4>
        <p>Development Lead</p>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <div>
        <%= image_tag("team-martin.jpg", alt: " ", class: "img-fluid rounded mb-3", size: "800x600") %>
        <h4 class="text-primary-dark">Martin Wright</h4>
        <p>Design</p>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <div>
        <%= image_tag("team-james.jpg", alt: " ", class: "img-fluid rounded mb-3", size: "800x600") %>
        <h4 class="text-primary-dark">James Smith</h4>
        <p>Development</p>
      </div>
    </div>
  </div>
  <h3 class="h2 my-4">Advisors</h3>
  <div class="row">
    <div class="col-6 col-md-3 col-lg-2">
      <div>
        <%= image_tag("team-michael.jpg", alt: " ", class: "img-fluid rounded mb-3", size: "800x600") %>
        <h4 class="text-primary-dark">Michael Winser</h4>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <div>
        <%= image_tag("team-dan.jpg", alt: " ", class: "img-fluid rounded mb-3", size: "800x600") %>
        <h4 class="text-primary-dark">Dan Applequist</h4>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <div>
        <%= image_tag("team-nicky.jpg", alt: " ", class: "img-fluid rounded mb-3", size: "800x600") %>
        <h4 class="text-primary-dark">Nicky Ringland</h4>
      </div>
    </div>
  </div>
</div>

<div class="grey-bg py-5">
  <div class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-4">
        <h2 class="h1 mb-4 text-primary-dark">Our approach</h2>
        <p class="lead mb-5">We&apos;ve designed ecosyste.ms as deliberately as the software we create.</p>
        <p>Who we are is reflected in how we work: open, collaborative, and accountable. We believe that lasting impact comes from clear intent, shared responsibility, and building in the open, together</p>
        <p><a href="https://docs.ecosyste.ms/docs/about/charter" class="spesh-link">Learn more about how we work</a></p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <dl class="me-lg-5">
          <dt class="mb-2">We&apos;re positive about the future, and our ability to impact it</dt>  
          <dd class="mb-4 small">We&apos;re confident enough to know we can change the world, and…</dd>
          <dt class="mb-2">We create space, rather than claim it</dt>  
          <dd class="mb-4 small">…realistic enough to know we can&apos;t do it alone.</dd>
          <dt class="mb-2">We show, rather than tell</dt>  
          <dd class="mb-4 small">We&apos;d rather build something you can use today than tell you what you should do tomorrow.</dd>
          <dt class="mb-2">We&apos;re happy to prove ourselves wrong</dt>  
          <dd class="mb-4 small">We check our assumptions, and work on the basis of facts rather than opinions.</dd>
          <dt class="mb-2">We think big and build small</dt>  
          <dd class="mb-4 small">We take on big challenges by building small, practical solutions to achieve broader goals</dd>
        </dl>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <dl class="me-lg-5">
          <dt class="mb-2">Our work is exciting, our technology isn&apos;t</dt>  
          <dd class="mb-4 small">We&apos;d rather have a positive impact than chase the latest trends.</dd>
          <dt class="mb-2">We are accountable to ourselves</dt>  
          <dd class="mb-4 small">We know where we&apos;re going, and are honest with ourselves about how we&apos;re doing.</dd>
          <dt class="mb-2">We tell it like it is</dt>  
          <dd class="mb-4 small">We don&apos;t sensationalise, dramatise or stigmatise.</dd>
          <dt class="mb-2">We&apos;re human</dt>  
          <dd class="mb-4 small">We respect one another, our users, and our audience.</dd>
          <dt class="mb-2">We&apos;re open</dt>  
          <dd class="mb-4 small">We believe in transparency and openness.</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5 py-5">
  <div class="row">
    <div class="col-12 col-lg-7">
      <h2 class="h1 mb-4">Open by design</h2>
      <p class="lead">ecosyste.ms is built in the open — not just our code, but our decisions, governance, and direction. </p>
      <p class="me-lg-5">Transparency is a core part of how we work: our repositories, discussions, and roadmaps are public by default, and anyone can see how choices are made or join the conversation that shapes them.</p>
      <p class="me-lg-5">Our software and data are freely available under open licences, and our governance and contribution processes are open to scrutiny and participation. This openness keeps us accountable, helps build trust, and ensures ecosyste.ms remains a shared, collective effort.</p>
    </div>
    <div class="col-12 col-lg-5">
      <%= image_tag("open-hand.svg", alt: " ", class: "img-fluid ", size: "500x350") %>
    </div>
  </div>
</div>

<div class="grey-bg py-5 mt-5" style="margin-bottom: -5em;">
  <div class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-4">
        <h1 class="display-2 text-primary-dark">
        Our work matters
        </h1>
      </div>
      <div class="col-12 col-lg-8">
        <p class="lead">ecosyste.ms handles over 40 million requests a day, indexing billions of events to create one of the world’s most complete datasets on open source production and use.</p>
        <p>Our work has informed research, security initiatives, and funding strategies for organisations including <strong>The Linux Foundation</strong>, the <strong>French government</strong>, and <strong>The Chan Zuckerberg Initiative</strong>.</p>
      </div>
    </div>
    <hr />
    <div class="row text-center mt-5">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="stat-card mb-2">
          <div class="stat-card-body">
            <span class="stat-card-title">12.1 million</span>
            <span class="stat-card-text extra-small">Packages</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="stat-card mb-2">
          <div class="stat-card-body">
            <span class="stat-card-title">287 million</span>
            <span class="stat-card-text extra-small">Repositories</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="stat-card mb-2">
          <div class="stat-card-body">
            <span class="stat-card-title">24.5 billion</span>
            <span class="stat-card-text extra-small">Dependencies</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="stat-card mb-2">
          <div class="stat-card-body">
            <span class="stat-card-title">1.9 million</span>
            <span class="stat-card-text extra-small">Maintainers</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>